Chipotle Data Manipulation

First import necessary libraries:

In [1]:
import pandas as pd
import numpy as np

Now, lets import the data set and assign it to variable chip:

In [3]:
chip=pd.read_csv(r'D:\Data-Sets\chipotle.tsv',sep ='\t')

Lets see the top 5 entries in this dataset:

In [4]:
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Now lets check the number of entries in this dataset:

In [6]:
chip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Now lets check the number of columns and print them:

In [7]:
chip.shape[1]

5

In [10]:
chip.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Now, lets check the most ordered item and its quantity:

In [11]:
a = chip.groupby('item_name')
a = a.sum()
a = a.sort_values(['quantity'], ascending=False)
a.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

Now,lets see the most ordered item in the choice_description column:

In [12]:
b = chip.groupby('choice_description').sum()
b = b.sort_values(['quantity'], ascending=False)
b.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

Now,lets see how many items were ordered in total:

In [13]:
print(chip.quantity.sum())

4972